/**
 * plugins/vuetify.ts の方にテーマが設定されているので、そちらも見てください。
 */

html {
    scroll-behavior: smooth;    /* <a href="#top"> アンカーで飛ぶときのスクロールをスムーズにする */
}

div.v-toolbar__content {    /* アプリケーション・バー */
    color: var(--myapplication-sec-0-header-fgcolor, #F0F0F0);
    background-color: var(--myapplication-sec-0-header-bgcolor, #282828);
}

/* ヘッダーの先頭に # のアイコンを付ける */
h1::before {
    content: "";    /* 指定しないと、画像も表示されない */
    display: inline-block;
    width: 64px;    /* 切り抜く画像のサイズ */
    height: 48px;
    zoom: 0.5;  /* なんか２倍角なので、目視確認で合わせる。 font-size: xx-large; だから？ */
    background-image: var(--myapplication-img-six-sharps, url('/img/application/six-sharps-light-white.png'));
    background-position: -160px 0;
}

h2::before {
    content: "";
    display: inline-block;
    width: 96px;
    height: 48px;
    zoom: 0.4;  /* なんか拡大されてるので、目視確認で合わせる。 font-size: x-large; だから？ */
    background-image: var(--myapplication-img-six-sharps, url('/img/application/six-sharps-light-white.png'));
    background-position: -128px 0;
}

h3::before {
    content: "";
    display: inline-block;
    width: 128px;
    height: 48px;
    zoom: 0.4;
    background-image: var(--myapplication-img-six-sharps, url('/img/application/six-sharps-light-white.png'));
    background-position: -96px 0;
}

h4::before {
    content: "";
    display: inline-block;
    width: 160px;
    height: 48px;
    zoom: 0.3;  /* なんか拡大されてるので、目視確認で合わせる。 font-size: large; だから？ */
    background-image: var(--myapplication-img-six-sharps, url('/img/application/six-sharps-light-white.png'));
    background-position: -64px 0;
}

h5::before {
    content: "";
    display: inline-block;
    width: 192px;
    height: 48px;
    zoom: 0.3;  /* なんか拡大されてるので、目視確認で合わせる。 font-size: large; だから？ */
    background-image: var(--myapplication-img-six-sharps, url('/img/application/six-sharps-light-white.png'));
    background-position: -32px 0;
}

h6::before {
    content: "";
    display: inline-block;
    width: 224px;
    height: 48px;
    zoom: 0.25; /* なんか拡大されてるので、目視確認で合わせる。 font-size: medium; だから？ */
    background-image: var(--myapplication-img-six-sharps, url('/img/application/six-sharps-light-white.png'));
    background-position: 0px 0;
}

pre {
    overflow-x: auto;   /* 行が長すぎて横に飛び出る前に、水平スクロールバーを表示する */
    max-width: 100%;    /* 親要素の横幅を超えないようにする */
    box-sizing: border-box; /* パディングやボーダーを幅に含める */
}

section.sec-contents {  /* 目次 */
    padding: 20px;
    border: dashed 4px gray;
}

/** ヘッダーの親テキスト */
span.parent-header {
    font-size: small;
}

/** ヘッダーの親テキスト（消灯） */
span.parent-header-lights-out {
    font-size: small;
    color:slategray;
}

a.link-highlight-current {
    font-size: x-large;
    color: white;
    background-color: Royalblue;    /* Tauri, Nuxt 用 */
    text-decoration: none;
    pointer-events: none;   /* クリックしても画面遷移しないようにする */
}
a.link-highlight-previous {
    background-color: lightgreen;
}

/* スマホ向けスタイル (画面幅が768px以下)
 * PC版に比べ、margin-left を 1/3。
 */
@media screen and (max-width: 768px) {
    h1 {
        margin-left: calc(0 * 20px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        text-align: left !important;
        font-size: xx-large;
        color: var(--myapplication-sec-1-header-fgcolor, #F0F0F0);
        background-color: var(--myapplication-sec-1-header-bgcolor, #101010);
    }

    h2 {
        margin-left: calc(1 * 20px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: x-large;
        overflow-wrap: break-word;
        color: var(--myapplication-sec-2-header-fgcolor, #F0F0F0);
        background-color: var(--myapplication-sec-2-header-bgcolor, #101010);
    }

    h3 {
        margin-left: calc(2 * 20px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: x-large;
        overflow-wrap: break-word;
        color: var(--myapplication-sec-3-header-fgcolor, #F0F0F0);
        background-color: var(--myapplication-sec-3-header-bgcolor, #181818);
    }

    h4 {
        margin-left: calc(3 * 20px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: large;
        overflow-wrap: break-word;
        color: var(--myapplication-sec-4-header-fgcolor, #F0F0F0);
        background-color: var(--myapplication-sec-4-header-bgcolor, #202020);
    }

    h5 {
        margin-left: calc(4 * 20px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: large;
        overflow-wrap: break-word;
        color: var(--myapplication-sec-5-header-fgcolor, #F0F0F0);
        background-color: var(--myapplication-sec-5-header-bgcolor, #282828);
    }

    h6 {
        margin-left: calc(5 * 20px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: medium;
        overflow-wrap: break-word;
        color: var(--myapplication-sec-6-header-fgcolor, #F0F0F0);
        background-color: var(--myapplication-sec-6-header-bgcolor, #303030);
    }

    div.contents-header-1 {
        margin-left: calc(0 * 20px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        text-align: left !important;
        font-size: xx-large;
        color: var(--text-light, #303030);
    }

    div.contents-header-2 {
        margin-left: calc(1 * 20px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: x-large;
        overflow-wrap: break-word;
        color: var(--text-light, #303030);
    }

    div.contents-header-3 {
        margin-left: calc(2 * 20px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: x-large;
        overflow-wrap: break-word;
        color: var(--text-light, #303030);
    }

    div.contents-header-4 {
        margin-left: calc(3 * 20px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: large;
        overflow-wrap: break-word;
        color: var(--text-light, #303030);
    }

    div.contents-header-5 {
        margin-left: calc(4 * 20px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: large;
        overflow-wrap: break-word;
        color: var(--text-light, #303030);
    }

    div.contents-header-6 {
        margin-left: calc(5 * 20px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: medium;
        overflow-wrap: break-word;
        color: var(--text-light, #303030);
    }

    section.sec-0 {
        margin-left: calc(0 * 20px + 4px);
    }

    section.sec-1 {
        margin-left: calc(1 * 20px + 4px);
    }

    section.sec-2 {
        margin-left: calc(2 * 20px + 4px);
    }

    section.sec-3 {
        margin-left: calc(3 * 20px + 4px);
    }

    section.sec-4 {
        margin-left: calc(4 * 20px + 4px);
    }

    section.sec-5 {
        margin-left: calc(5 * 20px + 4px);
    }

    section.sec-6 {
        margin-left: calc(6 * 20px + 4px);
    }

    .sec-0 img {
        max-width: 300px;
        max-height: 300px;
        object-fit: contain; /* 画像が枠に収まるように調整 */
    }

    .sec-1 img {
        max-width: 300px;
        max-height: 300px;
        object-fit: contain; /* 画像が枠に収まるように調整 */
    }

    .sec-2 img {
        max-width: 300px;
        max-height: 300px;
        object-fit: contain;
    }

    .sec-3 img {
        max-width: 300px;
        max-height: 300px;
        object-fit: contain;
    }

    .sec-4 img {
        max-width: 300px;
        max-height: 300px;
        object-fit: contain;
    }

    .sec-5 img {
        max-width: 300px;
        max-height: 300px;
        object-fit: contain;
    }

    .sec-6 img {
        max-width: 300px;
        max-height: 300px;
        object-fit: contain;
    }

    /* 親リスト */
    ul {
        list-style-type: disc; /* リストのマーカー（点など）を設定 */
    }
    /* 子リスト */
    ul ul {
        padding-left: 10px; /* インデントを増やす */
        list-style-type: circle; /* 異なるマーカーでネスト感を出す */
    }
    /* さらに深い子リスト */
    ul ul ul {
        padding-left: 20px; /* さらにインデント */
        list-style-type: square;
    }
}

/* パソコン向けスタイル (画面幅が769px以上) */
@media screen and (min-width: 769px) {
    h1 {
        margin-left: calc(0 * 60px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        text-align: left !important;
        font-size: xx-large;
        color: var(--myapplication-sec-1-header-fgcolor, #F0F0F0);
        background-color: var(--myapplication-sec-1-header-bgcolor, #101010);
    }

    h2 {
        margin-left: calc(1 * 60px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: x-large;
        overflow-wrap: break-word;
        color: var(--myapplication-sec-2-header-fgcolor, #F0F0F0);
        background-color: var(--myapplication-sec-2-header-bgcolor, #101010);
    }

    h3 {
        margin-left: calc(2 * 60px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: x-large;
        overflow-wrap: break-word;
        color: var(--myapplication-sec-3-header-fgcolor, #F0F0F0);
        background-color: var(--myapplication-sec-3-header-bgcolor, #181818);
    }

    h4{
        margin-left: calc(3 * 60px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: large;
        overflow-wrap: break-word;
        color: var(--myapplication-sec-4-header-fgcolor, #F0F0F0);
        background-color: var(--myapplication-sec-4-header-bgcolor, #202020);
    }

    h5 {
        margin-left: calc(4 * 60px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: large;
        overflow-wrap: break-word;
        color: var(--myapplication-sec-5-header-fgcolor, #F0F0F0);
        background-color: var(--myapplication-sec-5-header-bgcolor, #282828);
    }

    h6 {
        margin-left: calc(5 * 60px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: medium;
        overflow-wrap: break-word;
        color: var(--myapplication-sec-6-header-fgcolor, #F0F0F0);
        background-color: var(--myapplication-sec-6-header-bgcolor, #303030);
    }

    div.contents-header-1 {
        margin-left: calc(0 * 60px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        text-align: left !important;
        font-size: xx-large;
        color: var(--text-light, #303030);
    }

    div.contents-header-2 {
        margin-left: calc(1 * 60px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: x-large;
        overflow-wrap: break-word;
        color: var(--text-light, #303030);
    }

    div.contents-header-3 {
        margin-left: calc(2 * 60px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: x-large;
        overflow-wrap: break-word;
        color: var(--text-light, #303030);
    }

    div.contents-header-4{
        margin-left: calc(3 * 60px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: large;
        overflow-wrap: break-word;
        color: var(--text-light, #303030);
    }

    div.contents-header-5 {
        margin-left: calc(4 * 60px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: large;
        overflow-wrap: break-word;
        color: var(--text-light, #303030);
    }

    div.contents-header-6 {
        margin-left: calc(5 * 60px);
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
        font-size: medium;
        overflow-wrap: break-word;
        color: var(--text-light, #303030);
    }

    section.sec-0 {
        margin-left: calc(0 * 60px + 4px);
    }

    section.sec-1 {
        margin-left: calc(1 * 60px + 4px);
    }

    section.sec-2 {
        margin-left: calc(2 * 60px + 4px);
    }

    section.sec-3 {
        margin-left: calc(3 * 60px + 4px);
    }

    section.sec-4 {
        margin-left: calc(4 * 60px + 4px);
    }

    section.sec-5 {
        margin-left: calc(5 * 60px + 4px);
    }

    section.sec-6 {
        margin-left: calc(6 * 60px + 4px);
    }

    .sec-0 img {
        max-width: 1024px;  /* PCなので比較的大きなサイズ */
        max-height: 1024px;
        object-fit: contain; /* 画像が枠に収まるように調整 */
    }

    .sec-1 img {
        max-width: 1024px;  /* PCなので比較的大きなサイズ */
        max-height: 1024px;
        object-fit: contain; /* 画像が枠に収まるように調整 */
    }

    .sec-2 img {
        max-width: 1024px;
        max-height: 1024px;
        object-fit: contain;
    }

    .sec-3 img {
        max-width: 1024px;
        max-height: 1024px;
        object-fit: contain;
    }

    .sec-4 img {
        max-width: 1024px;
        max-height: 1024px;
        object-fit: contain;
    }

    .sec-5 img {
        max-width: 1024px;
        max-height: 1024px;
        object-fit: contain;
    }

    .sec-6 img {
        max-width: 1024px;
        max-height: 1024px;
        object-fit: contain;
    }

    /* 親リスト */
    ul {
        padding-left: calc(0px + 20px);
        list-style-type: disc; /* リストのマーカー（点など）を設定 */
    }
    /* 子リスト */
    ul ul {
        padding-left: calc(40px + 20px); /* インデントを増やす */
        list-style-type: circle; /* 異なるマーカーでネスト感を出す */
    }
    /* さらに深い子リスト */
    ul ul ul {
        padding-left: calc(80px + 20px); /* さらにインデント */
        list-style-type: square;
    }
}
