/* ハード領域 */
div.waratch2-hard {
    position: fixed;
    border: solid 4px black;
    box-sizing: border-box;
    border-radius: 64px;
    background-color: crimson;
    /* マスクで画面の部分を透過 */
    -webkit-mask-image: url(#waratch2-mask-rect);
    mask-image: url(#waratch2-mask-rect);
    pointer-events: none;  /* クリックを透過させます */
}

/* 画面枠 */
div.waratch2-screen-frame {
    position: absolute;
    box-sizing: border-box;
    border: solid 2px brown;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) inset;
    z-index: 10000;
}

/* ハード銘領域 */
div.waratch2-hard-name-area {
    position: absolute;
    height: 24px;
    box-sizing: border-box;
    color: goldenrod;
    background-color: brown;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
span.waratch2-hard-name {
    padding-left: 4px;
}

/* ボタン配置領域 */
div.waratch2-buttons-area {
    position: relative;
    display: inline-block;
}

/* v-btn に効きます */
button.waratch2-button {
    position: absolute;
    min-width: 32px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
