/* スマホ向けスタイル (画面幅が768px以下) */
@media screen and (max-width: 768px) {
    div.talk-name { /* 名前 */
        padding-left: 0;
        padding-right: 0;
        text-align: right;
        max-width: 96px;
    }
    div.talk-name-small { /* 名前 */
        padding-left: 0;
        padding-right: 0;
        text-align: right;
        font-size: small;
        max-width: 96px;
    }
}
/* パソコン向けスタイル (画面幅が769px以上) */
@media screen and (min-width: 769px) {
    div.talk-name { /* 名前 */
        padding-left: 0;
        padding-right: 0;
        text-align: right;
        max-width: 128px;
    }
    div.talk-name-small { /* 名前 */
        padding-left: 0;
        padding-right: 0;
        text-align: right;
        font-size: small;
        max-width: 128px;
    }
}

div.talk-quot { /* 鍵かっこ */
    max-width: 16px;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
}

div.talk{
    display: flex;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 1px;
    color: #101010;
}

div.face-container{
    width:100px;
}

div.baloon{
    padding-left:16px;
    padding-top: 12px;
    padding-bottom:16px;
    padding-right:16px;
    background-color: #FFF0C0;
    /* background-color: #F8F8F8; */
    border-radius: 16px;
}

/**
*       | 0%   100%
*   ----+----------
*     0%|         2
*    50%|  1
*   100%|         3
*/
div.baloon-tail {
    width: 19px;
    height: 15px;
    background-color: #FFF0C0;
    /* background-color: #F8F8F8; */
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%); /* 上頂点、下底の三角形 */
}

