h1 {
    background-color: var(--warabenture-sec-1-header-bgcolor, #101010);
    color: var(--warabenture-sec-1-header-fgcolor, #F0F0F0);
    font-size: xx-large;
    padding-left: 4px;
    padding-top: 6px;
    padding-bottom: 2px;
    text-align: left !important;
}

/* ヘッダーの先頭に # のアイコンを付ける */
h1::before {
    content: "";            /* 指定しないと、画像も表示されない */
    display:inline-block;
    width: 64px;            /* 切り抜く画像のサイズ */
    height: 48px;
    zoom:0.5;               /* なんか２倍角なので、目視確認で合わせる。 font-size: xx-large; だから？ */
    background-image: var(--warabenture-img-six-sharps, url('/img/warabenture/six-sharps-light.png'));
    background-position: -160px 0;
}

h2::before {
    content: "";
    display:inline-block;
    width: 96px;
    height: 48px;
    zoom:0.4;               /* なんか拡大されてるので、目視確認で合わせる。 font-size: x-large; だから？ */
    background-image: var(--warabenture-img-six-sharps, url('/img/warabenture/six-sharps-light.png'));
    background-position: -128px 0;
}

h3::before {
    content: "";
    display:inline-block;
    width: 128px;
    height: 48px;
    zoom:0.4;
    background-image: var(--warabenture-img-six-sharps, url('/img/warabenture/six-sharps-light.png'));
    background-position: -96px 0;
}

h4::before {
    content: "";
    display:inline-block;
    width: 160px;
    height: 48px;
    zoom:0.3;       /* なんか拡大されてるので、目視確認で合わせる。 font-size: large; だから？ */
    background-image: var(--warabenture-img-six-sharps, url('/img/warabenture/six-sharps-light.png'));
    background-position: -64px 0;
}

h5::before {
    content: "";
    display:inline-block;
    width: 192px;
    height: 48px;
    zoom:0.3;       /* なんか拡大されてるので、目視確認で合わせる。 font-size: large; だから？ */
    background-image: var(--warabenture-img-six-sharps, url('/img/warabenture/six-sharps-light.png'));
    background-position: -32px 0;
}

h6::before {
    content: "";
    display:inline-block;
    width: 224px;
    height: 48px;
    zoom:0.25;       /* なんか拡大されてるので、目視確認で合わせる。 font-size: medium; だから？ */
    background-image: var(--warabenture-img-six-sharps, url('/img/warabenture/six-sharps-light.png'));
    background-position: 0px 0;
}

/* スマホ向けスタイル (画面幅が768px以下) */
@media screen and (max-width: 768px) {
    h2 {
        background-color: var(--warabenture-sec-2-header-bgcolor, #101010);
        color: var(--warabenture-sec-2-header-fgcolor, #F0F0F0);
        font-size: x-large;
        margin-left: 20px;
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
    }

    h3 {
        background-color: var(--warabenture-sec-3-header-bgcolor, #181818);
        color: var(--warabenture-sec-3-header-fgcolor, #F0F0F0);
        font-size: x-large;
        margin-left: 40px;
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
    }

    h4 {
        background-color: var(--warabenture-sec-4-header-bgcolor, #202020);
        color: var(--warabenture-sec-4-header-fgcolor, #F0F0F0);
        font-size: large;
        margin-left: 60px;
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
    }

    h5 {
        background-color: var(--warabenture-sec-5-header-bgcolor, #282828);
        color: var(--warabenture-sec-5-header-fgcolor, #F0F0F0);
        font-size: large;
        margin-left: 80px;
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
    }

    h6 {
        background-color: var(--warabenture-sec-6-header-bgcolor, #303030);
        color: var(--warabenture-sec-6-header-fgcolor, #F0F0F0);
        font-size: medium;
        margin-left: 100px;
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
    }

    section.sec-1 {
        margin-left: 24px;
    }

    section.sec-2 {
        margin-left: 44px;
    }

    section.sec-3 {
        margin-left: 64px;
    }

    section.sec-4 {
        margin-left: 84px;
    }

    section.sec-5 {
        margin-left: 104px;
    }

    section.sec-6 {
        margin-left: 124px;
    }

    .sec-1 img {
        max-width: 300px;
        max-height: 300px;
        object-fit: contain; /* 画像が枠に収まるように調整 */
    }

    .sec-2 img {
        max-width: 300px;
        max-height: 300px;
        object-fit: contain;
    }

    .sec-3 img {
        max-width: 300px;
        max-height: 300px;
        object-fit: contain;
    }

    .sec-4 img {
        max-width: 300px;
        max-height: 300px;
        object-fit: contain;
    }

    .sec-5 img {
        max-width: 300px;
        max-height: 300px;
        object-fit: contain;
    }

    .sec-6 img {
        max-width: 300px;
        max-height: 300px;
        object-fit: contain;
    }

    /* 親リスト */
    ul {
        list-style-type: disc; /* リストのマーカー（点など）を設定 */
    }
    /* 子リスト */
    ul ul {
        padding-left: 10px; /* インデントを増やす */
        list-style-type: circle; /* 異なるマーカーでネスト感を出す */
    }
    /* さらに深い子リスト */
    ul ul ul {
        padding-left: 20px; /* さらにインデント */
        list-style-type: square;
    }
}

/* パソコン向けスタイル (画面幅が769px以上) */
@media screen and (min-width: 769px) {
    h2 {
        background-color: var(--warabenture-sec-2-header-bgcolor, #101010);
        color: var(--warabenture-sec-2-header-fgcolor, #F0F0F0);
        font-size: x-large;
        margin-left: 60px;
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
    }

    h3 {
        background-color: var(--warabenture-sec-3-header-bgcolor, #181818);
        color: var(--warabenture-sec-3-header-fgcolor, #F0F0F0);
        font-size: x-large;
        margin-left: 120px;
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
    }

    h4{
        background-color: var(--warabenture-sec-4-header-bgcolor, #202020);
        color: var(--warabenture-sec-4-header-fgcolor, #F0F0F0);
        font-size: large;
        margin-left: 180px;
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
    }

    h5 {
        background-color: var(--warabenture-sec-5-header-bgcolor, #282828);
        color: var(--warabenture-sec-5-header-fgcolor, #F0F0F0);
        font-size: large;
        margin-left: 240px;
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
    }

    h6 {
        background-color: var(--warabenture-sec-6-header-bgcolor, #303030);
        color: var(--warabenture-sec-6-header-fgcolor, #F0F0F0);
        font-size: medium;
        margin-left: 300px;
        padding-left: 4px;
        padding-top: 6px;
        padding-bottom: 2px;
    }

    section.sec-1 {
        margin-left: 64px;
    }

    section.sec-2 {
        margin-left: 124px;
    }

    section.sec-3 {
        margin-left: 184px;
    }

    section.sec-4 {
        margin-left: 244px;
    }

    section.sec-5 {
        margin-left: 304px;
    }

    section.sec-6 {
        margin-left: 364px;
    }

    .sec-1 img {
        max-width: 1024px;  /* PCなので比較的大きなサイズ */
        max-height: 1024px;
        object-fit: contain; /* 画像が枠に収まるように調整 */
    }

    .sec-2 img {
        max-width: 1024px;
        max-height: 1024px;
        object-fit: contain;
    }

    .sec-3 img {
        max-width: 1024px;
        max-height: 1024px;
        object-fit: contain;
    }

    .sec-4 img {
        max-width: 1024px;
        max-height: 1024px;
        object-fit: contain;
    }

    .sec-5 img {
        max-width: 1024px;
        max-height: 1024px;
        object-fit: contain;
    }

    .sec-6 img {
        max-width: 1024px;
        max-height: 1024px;
        object-fit: contain;
    }

    /* 親リスト */
    ul {
        list-style-type: disc; /* リストのマーカー（点など）を設定 */
    }
    /* 子リスト */
    ul ul {
        padding-left: 40px; /* インデントを増やす */
        list-style-type: circle; /* 異なるマーカーでネスト感を出す */
    }
    /* さらに深い子リスト */
    ul ul ul {
        padding-left: 80px; /* さらにインデント */
        list-style-type: square;
    }
}

div.code-b, pre.code-b {
    display:inline-block;
    background-color: #222222;
    color:#DDD;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 20px;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 1px solid;
    border-color: #888888 #DDDDDD #DDDDDD #888888;
    box-shadow: inset 1px 1px 0px #111111, inset -1px -1px 0px #DDDDDD;
}

span.code-b {
    background-color: #111111;
    color:#EEEEEE;
    margin-left: 6px;
    margin-right: 6px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-left: 8px;
    box-shadow: inset 1px 1px 4px rgba(255,255,255,1.0);
    font-size: smaller; /** ドロップシャドウを付けた見た目が大きくなるため、文字サイズを小さくしてバランスを取ります */
}

div.code-w {
    background-color: #EEEEEE;
    color:#111111;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,.5);
}

span.code-w {
    background-color: #EEEEEE;
    color:#111111;
    border-radius: 8px;
    margin-left: 6px;
    margin-right: 6px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-left: 8px;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,.5);
    font-size: smaller; /** ドロップシャドウを付けた見た目が大きくなるため、文字サイズを小さくしてバランスを取ります */
}

span.code-key {
    background-color: #e0e0e0;
    color:#101010;
    margin-left: 6px;
    margin-right: 6px;
    padding-right: 8px;
    padding-left: 8px;
    box-shadow: 1px 1px 4px rgba(51,51,51,1.0);
    font-weight: 900;
    font-size: smaller; /** ドロップシャドウを付けた見た目が大きくなるため、文字サイズを小さくしてバランスを取ります */
}
button.code-key {
    background-color: #e0e0e0;
    color:#101010;
    margin: 4px;
    padding-right: 8px;
    padding-left: 8px;
    box-shadow: 1px 1px 4px rgba(51,51,51,1.0);
    font-weight: 900;
    font-size: smaller; /** ドロップシャドウを付けた見た目が大きくなるため、文字サイズを小さくしてバランスを取ります */
}
button.noop-key {
    margin: 4px;
    padding-right: 8px;
    padding-left: 8px;
    box-shadow: 1px 1px 4px rgba(51,51,51,1.0);
    font-weight: 900;
    font-size: smaller; /** ドロップシャドウを付けた見た目が大きくなるため、文字サイズを小さくしてバランスを取ります */
}

span.font-x2 {
    font-size: 200%;
}

/** ヘッダーの親テキスト */
span.parent-header {
    font-size: small;
}

/** ヘッダーの親テキスト（消灯） */
span.parent-header-lights-out {
    font-size: small;
    color:slategray;
}

/* 非表示 */
.hidden {
  visibility: hidden;
}
